<% @words.each() do |word| %>
  <div class="row">
    <h2 class="heading-style" ><%= word.word() %></h2>
    <% word.definition().each() do |meaning| %>
      <ul>
        <h4><li class="text-style1"><i><%= meaning.definition() %></i></li></h4>
      </ul>
    <% end %>
  </div>
<% end %>
<a href="/" class="btn btn-success active" role="button" aria-pressed="true">Home</a>
