<!DOCTYPE html>
<html>
  <head>
    <title>Word Definer</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <link href="css/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Word Definer</h1>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
