<h1>Add word and its defintion:</h1>

<form action="/words" method="post">
  <div class="form-group">
    <label for="new-word">Word:</label>
    <input id="new-word" name="new-word" type="text" class="form-control" required>
  </div>
  <div class="form-group">
    <label for="img-url">Image URL:</label>
    <input id="img-url" name="img-url" type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="meaning">Definition:</label>
    <input id="meaning" name="meaning" type="text" class="form-control">
  </div>
  <button type="submit" class="btn bg-primary">Save</button>
  <a href="/" class="btn btn-success active" role="button" aria-pressed="true">Home</a>
</form>
