<div class="row">
  <h2 class="heading-style"><%= @words.word() %></h2>
  <% if @words.definition().length() > 0  %>
    <% @words.definition().each() do |word| %>
      <h4 class="text-style"><i><%= word.definition()%></i></h4>
    <% end %>
  <% else%>
    <h5><i>There is no definition availabe for this word. Could you please add one?</i></h5>
  <% end %>
  <br><img id="img-style" src="<%= @words.img_url() %>"/><br><br>
</div>
<form action="/word/<%= @words.id()%>" method="post">
  <div class="form-group">
    <h4><label for="meaning">Add another defintion:</label></h4>
    <input id="meaning" name="meaning" type="text" class="form-control">
  </div>
  <div class="row">
    <div class="col-md-2">
      <button type="submit" class="btn bg-primary">Add definition</button>
    </div>
    <div class="col-md-2">
      <a href="/" class="btn btn-success active" role="button" aria-pressed="true">Home</a>
    </div>
  </div>
</form>
